#!/bin/bash
#SBATCH --exclude=[% excludeNode %]
#SBATCH --job-name=[% jobLab %]
#SBATCH --chdir=[% stepDir %]
#SBATCH --partition=genD
#SBATCH --requeue
#SBATCH --output=[% jobLab %]_%j.out
#SBATCH --error=[% jobLab %]_%j.err
#SBATCH --ntasks=1
#SBATCH --qos=[% qos %]
#SBATCH --cpus-per-task=[% cpu %]
#SBATCH --mem-per-cpu=[% mem %]
#SBATCH --time=[% time %]

hostname >&2
printf START >&2; uptime >&2
date >&2

export LC_ALL=C

cmdFile="[% stepDir %]/[% jobLab %].cmd"
errLog="[% stepDir %]/ERROR.log"

source [% confFile %]
source ${confDir}/${pipeConf%.conf}_ROI_[% app %].conf

declare -A jobs

submit_qcpi_job() {
    local module=$1
    local jobLab="[% levelId %].qcpi.${module}"
    local jobCmd="[% stepDir %]/${jobLab}.cmd"
    local jobLog="[% stepDir %]/${jobLab}.jobID.log"
    echo "# INFO - Submitting qcpi.${module} ..." >&2
    local qos_var="qcpi_${module}_qos"
    local cpu_var="qcpi_${module}_cpu"
    local mem_var="qcpi_${module}_mem"
    local time_var="qcpi_${module}_time"
    local tt_var="qcpi_${module}_tt"
    apptainer run --bind "${bindDir}" "${contDir}/${perlCont}" tpage \
        --define qos="${!qos_var}" \
        --define cpu="${!cpu_var}" \
        --define mem="${!mem_var}" \
        --define time="${!time_var}" \
        --define excludeNode=[% excludeNode %] \
        --define jobLab="${jobLab}" \
        --define confFile=[% confFile %] \
        --define stepDir=[% stepDir %] \
        --define input=[% BCAM %] \
        --define levelId=[% levelId %] \
        --define app="[% app %]" \
        "${ttDir}/${!tt_var}" > "${jobCmd}"
    local jobId
    jobId=$(sbatch --parsable "${jobCmd}")
    if [ $? -ne 0 ]; then echo "ERROR : Cannot submit [${jobCmd}] [${cmdFile}]" >> "${errLog}"; exit 1; fi
    echo -e "${jobCmd}\t${jobId}" | tee -a "${jobLog}" >&2
    printf '%s\n' "${jobId}"
}

modules=(
    casm
    cism
    cgcbm
    elc
    cbdbc
    cogm
    cqym
    csam
    mosdepth
    alfred
)
for module in "${modules[@]}"; do
    jobs[$module]=$(submit_qcpi_job "$module")
done

if [ "[% app %]" = "WGS" ]; then
    jobs[indexcov]=$(submit_qcpi_job indexcov)
    jobs[cwgsm]=$(submit_qcpi_job cwgsm)
    dependency=$(IFS=:; echo \
        "${jobs[casm]}" \
        "${jobs[cism]}" \
        "${jobs[cgcbm]}" \
        "${jobs[elc]}" \
        "${jobs[cbdbc]}" \
        "${jobs[cogm]}" \
        "${jobs[cqym]}" \
        "${jobs[csam]}" \
        "${jobs[mosdepth]}" \
        "${jobs[alfred]}" \
        "${jobs[indexcov]}" \
        "${jobs[cwgsm]}")
else
    jobs[chsm]=$(submit_qcpi_job chsm)
    dependency=$(IFS=:; echo \
        "${jobs[casm]}" \
        "${jobs[cism]}" \
        "${jobs[cgcbm]}" \
        "${jobs[elc]}" \
        "${jobs[cbdbc]}" \
        "${jobs[cogm]}" \
        "${jobs[cqym]}" \
        "${jobs[csam]}" \
        "${jobs[mosdepth]}" \
        "${jobs[alfred]}" \
        "${jobs[chsm]}")
fi

jobLab="[% levelId %].qcpi.multiqc"
jobCmd="[% stepDir %]/${jobLab}.cmd"
jobLog="[% stepDir %]/${jobLab}.jobID.log"
echo "# INFO - Submitting qcpi.multiqc ..." >&2

echo "####################"
echo ${dependency}
echo "####################"

apptainer run --bind "${bindDir}" "${contDir}/${perlCont}" tpage \
    --define qos="${qcpi_multiqc_qos}" \
    --define cpu="${qcpi_multiqc_cpu}" \
    --define mem="${qcpi_multiqc_mem}" \
    --define time="${qcpi_multiqc_time}" \
    --define excludeNode=[% excludeNode %] \
    --define jobLab="${jobLab}" \
    --define confFile=[% confFile %] \
    --define stepDir=[% stepDir %] \
    --define input=[% BCAM %] \
    --define levelId=[% levelId %] \
    --define app="[% app %]" \
    "${ttDir}/${qcpi_multiqc_tt}" > "${jobCmd}"
multiqcJob=$(sbatch --dependency="afterany:${dependency}" --parsable "${jobCmd}")
if [ $? -ne 0 ]; then echo "ERROR : Cannot submit [${jobCmd}] [${cmdFile}]" >> "${errLog}"; exit 1; fi
echo -e "${jobCmd}\t${multiqcJob}" | tee -a "${jobLog}" >&2

printf END >&2
uptime >&2
date >&2

