#!/bin/bash
#SBATCH --exclude=[% excludeNode %]
#SBATCH --job-name=[% jobLab %]
#SBATCH --chdir=[% stepDir %]
#SBATCH --partition=genD
#SBATCH --requeue
#SBATCH --output=[% jobLab %]_%j.out 
#SBATCH --error=[% jobLab %]_%j.err 
#SBATCH --ntasks=1
#SBATCH --qos=[% qos %]
#SBATCH --cpus-per-task=[% cpu %]
#SBATCH --mem-per-cpu=[% mem %]
#SBATCH --time=[% time %]

hostname >&2
printf START >&2; uptime >&2
date >&2

export LC_ALL=C

cmdFile="[% stepDir %]/[% jobLab %].cmd"
errLog="[% stepDir %]/ERROR.log"

source [% confFile %]

echo "# INFO - Extracting Reads from BAM ..." >&2
apptainer run --no-home --bind ${bindDir} ${contDir}/${samtoolsCont} samtools view -h -b \
-T ${fasta} \
[% input %] \
${mhcRegion} \
> [% levelId %].mhc.bam
if [ $? != 0 ]; then echo "ERROR : hlahd [step#1] [${cmdFile}]" >> ${errLog}; exit 1; fi 

echo "# INFO - Converting BAM to FASTQ ..." >&2
apptainer run --no-home --bind ${bindDir} ${contDir}/${biobambamCont} bamtofastq \
filename=[% levelId %].mhc.bam \
F=[% levelId %].hlatmp.1.fastq \
F2=[% levelId %].hlatmp.2.fastq \
S=[% levelId %].hlatmp.SE.fastq \
O=[% levelId %].hlatmp.unmatched1.fastq \
O2=[% levelId %].hlatmp.unmatched2.fastq
if [ $? != 0 ]; then echo "ERROR : hlahd [step#2] [${cmdFile}]" >> ${errLog}; exit 1; fi

echo "# INFO - Changing FASTQ ID Reads from BAM ..." >&2
sed 's/\/1$/ 1/g' [% levelId %].hlatmp.1.fastq > [% levelId %].MHC.R1.fastq
sed 's/\/2$/ 2/g' [% levelId %].hlatmp.2.fastq > [% levelId %].MHC.R2.fastq
if [ $? != 0 ]; then echo "ERROR : hlahd [step#3] [${cmdFile}]" >> ${errLog}; exit 1; fi

echo "# INFO - Cleaning FASTQs ..." >&2
rm -v [% levelId %].hlatmp* >&2

echo "# INFO - Running HLA-HD ..." >&2
module purge >&2
module use /software/dat/modules/all/ >&2
module load SAMtools/1.15-GCC-11.2.0 >&2
module load Java/11.0.2 >&2
module load BEDTools/2.30.0-GCC-11.2.0 >&2
module load Bowtie2/2.4.4-GCC-11.2.0 >&2
export PATH=$PATH:/scratch_isilon/groups/dat/apps/HLA-HD/1.7.0/hlahd.1.7.0/bin/
mkdir -pv output
hlahd.sh \
-t [% cpu %] \
-m 150 \
-f /scratch_isilon/groups/dat/apps/HLA-HD/1.7.0/hlahd.1.7.0/freq_data/ \
[% levelId %].MHC.R1.fastq \
[% levelId %].MHC.R1.fastq \
/scratch_isilon/groups/dat/apps/HLA-HD/1.7.0/hlahd.1.7.0/HLA_gene.split.txt \
/scratch_isilon/groups/dat/apps/HLA-HD/1.7.0/hlahd.1.7.0/dictionary/ \
[% levelId %] \
output
if [ $? != 0 ]; then echo "ERROR : hlahd [step#4] [${cmdFile}]" >> ${errLog}; exit 1; fi 

echo "# INFO - Moving and renaming output ..." >&2
mv output/[% levelId %]/result/[% levelId %]_final.result.txt [% levelId %].hlahd.txt
if [ $? != 0 ]; then echo "ERROR : hlahd [step#5] [${cmdFile}]" >> ${errLog}; exit 1; fi 

echo "# INFO - Cleaning SAMs ..." >&2
find output/[% levelId %] -name "*sam" | xargs rm -v

printf END >&2; uptime >&2
date >&2
