#!/bin/bash
#SBATCH --account=sa_vcaa
#SBATCH --exclude=[% excludeNode %]
#SBATCH --job-name=[% jobLab %]
#SBATCH --chdir=[% stepDir %]
#SBATCH --partition=[% part %]
#SBATCH --requeue
#SBATCH --output=[% jobLab %]_%j.out 
#SBATCH --error=[% jobLab %]_%j.err 
#SBATCH --ntasks=1
#SBATCH --qos=[% qos %]
#SBATCH --cpus-per-task=[% cpu %]
#SBATCH --mem-per-cpu=[% mem %]
#SBATCH --time=[% time %]

hostname >&2
printf START >&2; uptime >&2
date >&2

export LC_ALL=C

cmdFile="[% stepDir %]/[% jobLab %].cmd"
errLog="[% stepDir %]/ERROR.log"

source [% confFile %]
source ${confDir}/${pipeConf%.conf}_ROI_[% app %].conf

apptainer exec --bind ${bindDir} ${contDir}/${alfredCont} alfred qc \
-r ${fasta} \
-o [% levelId %].alfred.metrics.tsv.gz \
-j [% levelId %].alfred.metrics.json.gz \
[% input %]

if [ $? != 0 ]; then echo "ERROR : qcpi.alfred [step#1] [${cmdFile}]" >> ${errLog}; exit 1; fi

printf END >&2; uptime >&2
date >&2
