#!/bin/bash
#SBATCH --exclude=[% excludeNode %]
#SBATCH --job-name=[% jobLab %]
#SBATCH --chdir=[% stepDir %]
#SBATCH --partition=genD
#SBATCH --requeue
#SBATCH --output=[% jobLab %]_%j.out 
#SBATCH --error=[% jobLab %]_%j.err 
#SBATCH --ntasks=1
#SBATCH --qos=[% qos %]
#SBATCH --cpus-per-task=[% cpu %]
#SBATCH --mem-per-cpu=[% mem %]
#SBATCH --time=[% time %]

hostname >&2
printf START >&2; uptime >&2
date >&2

export LC_ALL=C

cmdFile="[% stepDir %]/[% jobLab %].cmd"
errLog="[% stepDir %]/ERROR.log"

source [% confFile %]

echo "# INFO - Running T1K ..." >&2
apptainer exec --no-home --bind ${bindDir} ${contDir}/${t1kCont} run-t1k \
-1 [% levelId %]_1.fastq.gz \
-2 [% levelId %]_2.fastq.gz \
-f [% fasta %] \
--preset [% preset %] \
-t [% cpu %] \
-o [% levelId %].t1k.[% preset %]
if [ $? != 0 ]; then echo "ERROR : t1k [% preset %] [step#1] [${cmdFile}]" >> ${errLog}; exit 1; fi 

printf END >&2; uptime >&2
date >&2
